.reviewProducts{
    display: grid;
    grid-template-columns: 2fr;
    margin: 50px auto;
    justify-content: center;
    align-items: center;
}
.btn-proceed{
    width: 90%;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    border: none;
    padding: 10px;
    font-size: 19px;
    border-radius: 9px;
    background-color: #c4f122;
    color: rgb(241, 241, 241);
}
.proceed-link{
    text-decoration: none;
}